body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.wrapper {
  margin-top: 225px;
  margin-left: 200px;
  margin-left: 200px;
}

input {
  display:block;
}
.addproduct {
  display: flex;


  justify-content: space-around;

  // display: flex;
  // flex-flow: row wrap;
  // text-align: center;
}

// h1 {
//   margin-top: 200px;
// }
