@font-face {
  font-family: BigJohn;
  src: url(/fonts/BIGJOHN.otf);
}

button {
  display: inline-block;
  padding: 16px 24px;
  margin: 10px 0px;
  color: #fff;
  font-family: BigJohn;
  text-decoration: none;
  background-color: #f4adc0;
}
